<div class="container-fluid">
    <div class="col-md-4 p-2 float-md-right">
        <job-parameters-form
            [enabled]="(jobCount == 0)"
            [jobParameters]="jobParameters"
            (jobStarted)="onJobStarted($event)"
            (jobStopped)="onJobStopped($event)">
        </job-parameters-form>
    </div>

    <div class="col-md-8 p-2 float-md-left">
        <cluster-status
            [clusterStatus]="clusterStatus">
        </cluster-status>
    </div>

    <div class="col-md-8 p-2 float-md-left">
        <hpa-status
            [hpaStatus]="hpaStatus">
        </hpa-status>
    </div>

    <div class="col-md-4 p-2 float-md-right">
        <event-list
            [lastUpdate]="lastUpdate"
            [eventList]="eventList">
        </event-list>
    </div>
</div>