<h1>Kubernetes Load Test</h1>

<button (click)="getJobCount()">Get Job Count</button>
<div><pre>{{jobCountDisplay}}</pre></div>

<button (click)="getJobStatus()">Get Job Status</button>
<div><pre>{{jobStatusDisplay}}</pre></div>

<button (click)="getJobParameters()">Get Job Parameters</button>
<div><pre>{{jobParametersDisplay}}</pre></div>

<button (click)="getNodesCount()">Get Nodes Count</button>
<div><pre>{{nodesCountDisplay}}</pre></div>

<button (click)="getNodesStatus()">Get Nodes Status</button>
<div><pre>{{nodesStatusDisplay}}</pre></div>

<button (click)="startJob()">Start Job</button>
<button (click)="stopJob()">Stop Job</button>
<ul><li *ngFor="let status of statusDisplay">{{status}}</li></ul>